@{
    ViewBag.Title = "Payment";
}

<h2>Payment</h2>

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>

<script>
    var options = {
        "key": "rzp_test_Kl7588Yie2yJTV",
        "amount": "@ViewBag.TotalPrice", // Amount is in currency subunits. Default currency is INR. Hence, 100 refers to 100 paise
        "currency": "INR",
        "name": "LearnOnline",
        "description": "Purchase Courses",
        "order_id": "@ViewBag.OrderId", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
            // After successful payment
            window.location.href = '@Url.Action("PaymentSuccess", "Checkout")?razorpayPaymentId=' + response.razorpay_payment_id + '&razorpayOrderId=' + response.razorpay_order_id + '&razorpaySignature=' + response.razorpay_signature;
        },
        "prefill": {
            "name": "@User.Identity.Name",
            "email": "@User.Identity.Name"
        },
        "theme": {
            "color": "#F37254"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        alert(response.error.code);
        alert(response.error.description);
        alert(response.error.source);
        alert(response.error.step);
        alert(response.error.reason);
        alert(response.error.metadata.order_id);
        alert(response.error.metadata.payment_id);
    });
    rzp1.open();
</script>
